$gradient-primary: linear-gradient(74.67deg, #77e38b -6.3%, #3bcfc1 111.05%);
$gradient-secondary: linear-gradient(90deg, #3bcfc1 0%, #77e38b 0%, #77e38b 0%, #3bcfc1 0.01%, #307dd8 100%);
$gradient-terciary: linear-gradient(90deg, #cccccc 0%, #5c5c5c 100%);
$gradient-warning: linear-gradient(90.07deg, #d71616 0%, #ad0000 99.89%);
