$gradient-primary: linear-gradient(74.67deg, #77e38b -6.3%, #3bcfc1 111.05%);
$gradient-primary-inverted: linear-gradient(74.67deg, #3bcfc1 -6.3%, #77e38b 111.05%);
$gradient-secondary: linear-gradient(90deg, #77e38b 0%, #307dd8 100%);
$gradient-secondary-inverted: linear-gradient(90deg, #307dd8 0%, #77e38b 100%);
$gradient-terciary: linear-gradient(90deg, #cccccc 0%, #5c5c5c 100%);
$gradient-terciary-inverted: linear-gradient(90deg, #5c5c5c 0%, #cccccc 100%);
$gradient-warning: linear-gradient(90.07deg, #d71616 0%, #ad0000 99.89%);
$gradient-warning-inverted: linear-gradient(90.07deg, #ad0000 0%, #d71616 99.89%);
